{%extends 'projeto/base.html'%}

{% block content %}
    <h2>Alertas em aberto</h2>

    {% if alertas %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id Alerta</th>
                    <th scope="col">Linha</th>
                    <th scope="col">Time</th>
                    <th scope="col">Foto</th>

                </tr>
            </thead>
            <tbody>
                {% for alerta  in alertas%}
                <tr>
                    <td>{{ alerta.id }}</td>
                    <td>{{ alerta.numeroOnibus }}</td>
                    <td>{{ alerta.dataHoraRegistro }}</td>
                    <td>{{ alerta.urlFoto }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            <h4>Nada encontrado</h4>
        </div>
    {% endif %}
{% endblock %}